
.circle {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Make sure it's equal to width to keep it circular */
    border: 20px solid #e0e0e0; /* Grey border */
    border-radius: 50%; /* Makes the shape circular */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9; /* Light background color */
    /* font-family: Arial, sans-serif; */
    position: relative;
}

/* Text styles inside the circle */
.data {
    text-align: center;
    font-size: 24px; /* Size of the text */
    color: #00394d; /* Text color */
}

.circle-text {
    margin-top: 40px;
    font-size: 24px;
    color: #00394d;
}

#temp-celsius{
    margin-bottom: 10px;
}

#air-temp-humidity-celsius{
    margin-bottom: 10px;
}

#air-temp-humidity-fharenheit{
    margin-bottom: 10px;
}

/* Colors for various states */
/* BT - Grey for normal */
.circle-state-normal {
    border: 20px solid #e0e0e0;
}
/* BT - orange for active */
.circle-state-active {
    border: 20px solid #dda610; /* Light blue for active states */
}

.circle-state-standby {
    border: 20px solid #8bf794; 
}
/* BT - Red for alert */
.circle-state-alert {
    border: 20px solid #d81717;
}

