html, body {
    font-family: 'lexend', system-ui;
    height: 100%;
    margin: 0;
}

.background {
    background: linear-gradient(to bottom, #3c404e, #2d303a);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 80vw;
    margin: 1em 1em 1em 25vw;
    transition: 0.5s;
    display: flex;
    justify-content: left;
    align-items: start;
    background-color: #0072ce;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
}

h1, a, ul, li, label, p {
    color: white;
}

a {
    text-decoration: none;
    margin: 1em;
}

form {
    color: #ffffff;
    margin: 2em 0;
}

.form-section {
    margin-bottom: 1.5em;
}

form.inline {
    display: inline;
}

input[type="text"], input[type="password"], input[type="number"], input[type="datetime-local"] {
    width: 80%;
    padding: .1em;
    margin: 1em 0em;
    border-radius: 1em;
    border: 1px solid #ddd;
    color: black;
}

.filter-dropdown {
    width: 200px; /* Adjust the width as needed */
    display: inline-block; /* Ensures it doesn't take up the full width */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1em 0em;
}

button, a.button {
    display: inline-block;
    margin: 1em 0em;
    background-color: white;
    color: #0072ce;
    text-align: center;
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    transition: 0.3s;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition-duration: 0.4s;
}

button:hover, a.button:hover {
    background-color: #e0e0e0;
}

.help-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px; /* Increased size for better visibility */
    height: 25px;
    font-size: 16px; /* Increased font size for better visibility */
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    display: inline-flex; /* Centering the text */
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 50vw;
    padding: 1em;
    text-align: left;
    font-size: 1vw;
    color: #000000;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, tr, td {
    background-color: #ffffff;
    padding: 1em 2em;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 1em;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-group label {
    margin-right: 1em;
}

.form-group input {
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black; /* Ensure text color is black */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_p {
    color: #000000;
}