body {
    font-family: 'lexend';
    background: linear-gradient(to bottom, #3c404e, #2d303a);
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
}

main {
    height: 100%;
    width: 75vw;
    margin: 1em 1em 1em 30vw;
    transition: 0.5s;
    display: flex;
    justify-content: left;
    align-items: start;
    background-color: #0072ce;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, a, ul, li, label {
    color: white;
}

a {
    text-decoration: none;
    margin: 1em;
}

form {
    color: #ffffff;
    margin: 2em 0;
}

.form-section {
    margin-bottom: 1.5em;
}

form.inline {
    display: inline;
}

input[type="text"], input[type="password"], input[type="number"], input[type="datetime-local"] {
    width: 80%;
    padding: .1em;
    margin: 1em 0em;
    border-radius: 1em;
    border: 1px solid #ddd;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1em 0em;
}

button, a.button {
    display: inline-block;
    margin: 1em 0em;
    background-color: white;
    color: #0072ce;
    text-align: center;
    cursor: pointer;
    padding: 1em 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    transition: 0.3s;
}

button:hover, a.button:hover {
    background-color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 50vw;
    padding: 1em;
    text-align: left;
    font-size: 1vw;
    color: #000000;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ffffff;
}