<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add LoRa Message</title>
</head>
<body>
<h1>Add LoRa Message</h1>
<form action="{{ url_for('add_lora_message') }}" method="post">
    Device Name: <input type="text" name="deviceName"><br>
    Device EUI: <input type="text" name="deveui"><br>
    App EUI: <input type="text" name="appeui"><br>
    Data: <input type="text" name="data"><br>
    Size: <input type="number" name="size"><br>
    Timestamp: <input type="text" name="timestamp"><br>
    Sequence Number: <input type="number" name="sqn"><br>
    <button type="submit">Add LoRa Message</button>
</form>
<a href="{{ url_for('list_lora_messages') }}">Back to LoRa Messages</a>
</body>
</html>
