<!-- BT - This is the main page for animation. It will load an appropriate door_window.html or
          temperature.html...etc based on the sensorSelection below.
 -->
{% extends "base.html" %}
{% block title %}MQTT Messages{% endblock %}

{% block notification %}
<div id="notification" style="display: none; position: fixed; top: 100px; right: 20px; background-color: #f5f5f5; color: #333; padding: 10px; border-radius: 5px; z-index: 1000;">
    Connected to MQTT Broker!
</div>
{% endblock %}

{% block content %}
    <h1>Animations</h1>
    <div class="form-group">
        <label for="sensorSelect">Select Sensor:</label>
        <select id="sensorSelect-animations" name="sensor_select" required>
            <option value="" disabled selected>Select a sensor</option> <!-- Placeholder Option -->
            {% for message in list_of_deveuis %}
                
                    <option value="{{ message.deveui }}">{{ message.deveui }} </option>
                
            {% endfor %}
        </select>
        <button type="button" class="help-button" data-modal="sensorSelectHelp">?</button>
    </div>

    <div id="sensorSelectHelp" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeHelpModal('sensorSelectHelp')">&times;</span>
            <h2>Help - Select Sensor</h2>
            <p class="modal_p">Select your deveui to see the animations</p>
        </div>
    </div>
    <!-- BT - This is where different animation web page load here. -->
    <div id="sensorContent"></div>

{% endblock %}

{% block javascript %}
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/animations.js"></script>
    <script src="../static/js/notification.js"></script>
{% endblock %}
