{% extends "base.html" %}
{% block title %}MQTT Messages{% endblock %}

{% block notification %}
<div id="notification" style="display: none; position: fixed; top: 100px; right: 20px; background-color: #f5f5f5; color: #333; padding: 10px; border-radius: 5px; z-index: 1000;">
    Connected to MQTT Broker!
</div>
{% endblock %}

{% block content %}
    <h1>Live Charts</h1>
    <ul class="welcome-text">

        <li>Monitor RSSI (Received Signal Strength Indicator) for signal quality insights.</li>
        <li>Track LSNR (Link Signal-to-Noise Ratio) to evaluate connection reliability.</li>

    </ul>
    <div class="form-group">
        <label for="sensorSelect">Select Sensor:</label>
        <select id="sensorSelect-charts" name="sensor_select" required>
            <option value="" disabled selected>Select a sensor</option> <!-- Placeholder Option -->
            {% for message in list_of_deveuis %}
                
                    <option value="{{ message.deveui }}">{{ message.deveui }} </option>
                
            {% endfor %}
        </select>
        <button type="button" class="help-button" data-modal="sensorSelectHelp">?</button>
    </div>

    <div id="sensorSelectHelp" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeHelpModal('sensorSelectHelp')">&times;</span>
            <h2>Help - Select Sensor</h2>
            <p class="modal_p">Select your deveui to see the charts</p>
        </div>
    </div>

    {% include 'chart_canvas.html' %}


{% endblock %}

{% block javascript %}
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/chart.js"></script>
    <script src="../static/js/notification.js"></script>
    <script src="../static/js/display_charts.js"></script>
{% endblock %}