{% extends "base.html" %}

{% block title %}Downlinks{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='./js/downlinks.js') }}"></script>
    <script src="{{ url_for('static', filename='./help_modal.js') }}"></script>
    <h1>Configure Downlink</h1>
    {% include 'connect_form.html' %}
    <form id="downlinkForm" onsubmit="sendDownlink(event)">
        <h2>Configure Sensor</h2>
        <div class="form-group">
            <label for="sensorSelect">Select Sensor:</label>
            <select id="sensorSelect" name="sensor_select" required>
            </select>
            <button type="button" class="help-button" data-modal="sensorSelectHelp">?</button>
        </div>
        <div id="waterSensorConfig" style="display: none;">
            <div class="form-group">
                <label>Enable water present message:</label>
                <label><input type="radio" name="enable_water_present" value="1"> Yes</label>
                <label><input type="radio" name="enable_water_present" value="0"> No</label>
                <button type="button" class="help-button" data-modal="enableWaterPresentHelp">?</button>
            </div>
            <div class="form-group">
                <label>Enable water not present message:</label>
                <label><input type="radio" name="enable_water_not_present" value="1"> Yes</label>
                <label><input type="radio" name="enable_water_not_present" value="0"> No</label>
                <button type="button" class="help-button" data-modal="enableWaterNotPresentHelp">?</button>
            </div>
            <div class="form-group">
                <label for="threshold">Threshold of relative resistance between probes:</label>
                <input type="number" id="threshold" name="threshold" min="0" max="255">
                <button type="button" class="help-button" data-modal="thresholdHelp">?</button>
            </div>
            <div class="form-group">
                <label for="restoral">Restoral margin in units of relative resistance between probes:</label>
                <input type="number" id="restoral" name="restoral" min="0" max="255">
                <button type="button" class="help-button" data-modal="restoralHelp">?</button>
            </div>
        </div>
        <div id="tempHumiditySensorConfig" style="display: none;">
            <div class="form-group">
                <label for="mode">Reporting Mode:</label>
                <select id="mode" name="mode">
                    <option value="0x00">Threshold Mode</option>
                    <option value="0x01">Report on Change Mode</option>
                </select>
                <button type="button" class="help-button" data-modal="modeHelp">?</button>
            </div>
            <div id="thresholdModeConfig">
                <div class="form-group">
                    <label for="reportingInterval">Periodic Reporting Time Interval:</label>
                    <input type="number" id="reportingInterval" name="reporting_interval" min="0" max="127">
                    <button type="button" class="help-button" data-modal="reportingIntervalHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="restoralMargin">Restoral Margin:</label>
                    <input type="number" id="restoralMargin" name="restoral_margin" min="0" max="127">
                    <button type="button" class="help-button" data-modal="restoralMarginHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="lowerTempThreshold">Lower Temperature Threshold:</label>
                    <input type="number" id="lowerTempThreshold" name="lower_temp_threshold" min="-40" max="100">
                    <button type="button" class="help-button" data-modal="lowerTempThresholdHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="upperTempThreshold">Upper Temperature Threshold:</label>
                    <input type="number" id="upperTempThreshold" name="upper_temp_threshold" min="-40" max="100">
                    <button type="button" class="help-button" data-modal="upperTempThresholdHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="lowerHumidityThreshold">Lower Humidity Threshold:</label>
                    <input type="number" id="lowerHumidityThreshold" name="lower_humidity_threshold" min="0" max="100">
                    <button type="button" class="help-button" data-modal="lowerHumidityThresholdHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="upperHumidityThreshold">Upper Humidity Threshold:</label>
                    <input type="number" id="upperHumidityThreshold" name="upper_humidity_threshold" min="0" max="100">
                    <button type="button" class="help-button" data-modal="upperHumidityThresholdHelp">?</button>
                </div>
            </div>
            <div id="reportOnChangeConfig" style="display: none;">
                <div class="form-group">
                    <label for="tempIncrease">Temperature Increase Threshold:</label>
                    <input type="number" id="tempIncrease" name="temp_increase" min="0" max="100">
                    <button type="button" class="help-button" data-modal="tempIncreaseHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="tempDecrease">Temperature Decrease Threshold:</label>
                    <input type="number" id="tempDecrease" name="temp_decrease" min="0" max="100">
                    <button type="button" class="help-button" data-modal="tempDecreaseHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="humidityIncrease">Humidity Increase Threshold:</label>
                    <input type="number" id="humidityIncrease" name="humidity_increase" min="0" max="100">
                    <button type="button" class="help-button" data-modal="humidityIncreaseHelp">?</button>
                </div>
                <div class="form-group">
                    <label for="humidityDecrease">Humidity Decrease Threshold:</label>
                    <input type="number" id="humidityDecrease" name="humidity_decrease" min="0" max="100">
                    <button type="button" class="help-button" data-modal="humidityDecreaseHelp">?</button>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div id="sensorSelectHelp" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeHelpModal('sensorSelectHelp')">&times;</span>
            <h2>Help - Select Sensor</h2>
            <p class="modal_p">Connect to a MultiTech Gateway to populate the dropdown field.</p>
            <p class="modal_p">Send an MQTT uplink message from the sensor to the gateway.</p>
            <p class="modal_p">Select the sensor you want to send a downlink to.</p>
            <p class="modal_p">Sensors will be listed by devEUI and type</p>
        </div>
    </div>
{% endblock %}
