{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="outlined-text">MultiTech Network Dashboard</h1>
    <p class="welcome-text">Welcome to the MultiTech Network Dashboard. This application allows you to:</p>
    <ul class="welcome-text" style="list-style-type: disc; padding-left: 20px;">
        <li>View real-time and historical data from your sensors.</li>
        <li>Send and receive MQTT messages.</li>
        <li>Configure your Radiobridge sensors.</li>
    </ul>
    <p class="welcome-text">Use the navigation menu on the left to access different sections of the dashboard.</p>
{% endblock %}
