{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="outlined-text">MultiTech Network Dashboard</h1>
    <h3 class="welcome-text">Welcome to the MultiTech Network Dashboard. This application allows you to:</h3>
    <ul class="welcome-text">
        <li>Connect to your MultiTech Gateway.</li>
        <li>View real-time and historical data from your sensors.</li>
        <li>Configure your Radiobridge sensors.</li>
        <li>Upload and view MQTT messages.</li>
    </ul>
 {% include 'connect_form.html' %}
{% endblock %}

