
<br>
<h3>MQTT message table</h3>

<br>
<!-- Search field for keystroke-based search -->
<label for="search">Search MQTT Messages:</label>
<input type="text" id="filter" placeholder="Search for messages..." onkeyup="fetchMessages(this.value)">
<br><br>
<table class="mqtt_table">
    <thead>
    <tr>
        <th>Time</th>
        <th>DevEUI</th>
        <th>Topic</th>
        <th>Message Type</th>
        <th>Message Data</th>
        <th>Help</th>
    </tr>
    </thead>
    <tbody id="messageTableBody">
    </tbody>
</table>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <pre id="modalText"></pre>
    </div>
</div>

<script>
// Function to search table based on keystrokes
function searchMessages() {
    // Get the search query
    const searchQuery = document.getElementById('search').value.toLowerCase();

}
</script>