{% extends "base.html" %}
{% block title %}MQTT Messages{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='./js/mqtt_messages.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>Live MQTT Messages</h1>
    {% include 'connect_form.html' %}
    <div class="dump">
        <button type="button" id="dumpMessages" onclick="dumpMessagesToJSON()">
            <img src="../static/icons/download.svg" width="24" height="24" class="icon-margin">Dump Messages to JSON
        </button>
    </div>
    {% include 'mqtt_table.html' %}
{% endblock %}
