

<nav>
    <div class="container">
        <div class="nav-leftside">
            <ul>
                <li class="item"><img src="../static/icons/house.svg" width="24" height="24" class="icon-margin"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="item"><img src="../static/icons/chat-right-text.svg" width="24" height="24" class="icon-margin"><a href="{{ url_for('mqtt_messages') }}">MQTT messages</a></li>
                <li class="item"><img src="../static/icons/upload.svg" width="24" height="24" class="icon-margin"><a href="{{ url_for('upload_messages') }}">Upload</a></li>
                <li class="item"><img src="../static/icons/download.svg" width="24" height="24" class="icon-margin"><a href="{{ url_for('downlink') }}">Downlinks</a></li>
            </ul>
        </div>
        <div class="nav-profile">
            <p class="my-profile">&copy; 2022 Multitech Systems, Inc.</p>
            <p>All rights reserved.</p>
        </div>
    </div>        
</nav>