{% extends "base.html" %}

{% block title %}Upload MQTT Messages{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='./js/mqtt_messages.js') }}"></script>
    <h1>Upload and View MQTT Messages</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/import_messages">
        <div class="form-group">
            <label for="file">Upload JSON File:</label>
            <input class="upload-button" type="file" id="file" name="file" required>
        </div>
        <button type="submit">Upload</button>
    </form>
    {% include 'mqtt_table.html' %}
{% endblock %}
